@inject MyApiClient ApiClient
@inject LocalStorageService LocalStorageService

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["Linteum.BlazorApp.styles.css"]"/>
    <ImportMap/>
    <link rel="icon" type="image/png" href="images/starry-night.png"/>
    <HeadOutlet/>
</head>

<body>
<Routes @rendermode="RenderMode.InteractiveServer" />
<script src="_framework/blazor.web.js"></script>
<script src="js/blazor-exit-navigation.js"></script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="js/google-auth.js"></script>
<script src="js/canvasRenderer.js"></script>
<script src="js/canvas-viewport.js"></script>
<script src="js/canvas-helpers.js"></script>
</body>

</html>

@code {

}
