@page "/home"
@inherits LayoutComponentBase

<CanvasSidebar CollapseToggled="OnSidebarCollapseChanged" />

<main style="margin-left:@SidebarMargin; background-color: var(--accent0); min-height: 100vh; padding: 1rem;">
    @Body
</main>

@code {
    private string SidebarMargin = "300px";

    private void OnSidebarCollapseChanged(bool isCollapsed)
    {
        SidebarMargin = isCollapsed ? "0px" : "300px";
        StateHasChanged();
    }
}