@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/colors">Linteum</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/colors">Colors</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="container mt-4">
    @Body
</main>

