<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Linteum.BlazorApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scroll">
    <nav class="nav flex-column">
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/signup">Sign Up</a>
        <a class="nav-link" href="/colors">Colors</a>
    </nav>
</div>
